@page "/ado/ProjectEdit/{RequestId}"
@using CSRO.Client.Services.Models

<div style="max-width: 50%" class="m-4">
    <AdoProject RequestId="@RequestId"
                OperationTypeTicket="@OperatioType.Edit">

    </AdoProject>
</div>

@code {
    [Parameter]
    public string RequestId { get; set; }
}
