@page "/ado/ProjectAccess"
@using CSRO.Client.Services.Models

<div style="max-width: 50%" class="m-4">
    <AdoProjectAccess OperationTypeTicket="@OperatioType.Create">

    </AdoProjectAccess>
</div>

@code {

}

