@page "/appversion"
@inherits AppVersionBase

<MudContainer MaxWidth="MaxWidth.Large" Class="m-2">
    <h3>App Version</h3>

    @if (Result == null)
    {
        <p><em>Loading...</em></p> }
    else
    {
        <h1>@Result</h1>
    }

</MudContainer>