@page "/rg/Create"
@using CSRO.Client.Services.Models

<div class="mt-6">
    <SubLocRgComp OperationTypeTicket="@OperatioType.Create">

    </SubLocRgComp>

    <SubLocRgComp OperationTypeTicket="@OperatioType.View">

    </SubLocRgComp>

</div>
@code {

}
