@page "/rg/Create"
@using CSRO.Client.Services.Models

<div class="m-1">
    <MudGrid class="mt-6">
        <MudItem xs="6">
            <MudPaper>
                <SubLocRgComp OperationTypeTicket="@OperatioType.Create">

                </SubLocRgComp>
            </MudPaper>
        </MudItem>
        <MudItem xs="6">
            <MudPaper>
                <SubLocRgComp OperationTypeTicket="@OperatioType.View">

                </SubLocRgComp>
            </MudPaper>
        </MudItem>
    </MudGrid>
</div>

@code {

}
