@page "/rg/Create"
@using CSRO.Client.Services.Models

<div class="m-1">
    <MudGrid class="mt-6">
        <MudItem xs="6">
            <MudPaper>
                <SubLocRgComp OperationTypeTicket="@OperatioType.Create" 
                              SubcriptionIdChanged="SubcriptionIdChangedHandler">

                </SubLocRgComp>

                <div class="mt-2">
                    <TagsComp SubcriptionId="@SubcriptionId">

                    </TagsComp>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="6">
            <MudPaper>
                <SubLocRgComp OperationTypeTicket="@OperatioType.View">

                </SubLocRgComp>
            </MudPaper>
        </MudItem>
    </MudGrid>
</div>

@code {

    [Parameter]
    public string SubcriptionId { get; set; }

    private void SubcriptionIdChangedHandler(string subId)
    {
        SubcriptionId = subId;
    }

}
