@page "/vm/restart"
@using CSRO.Client.Services.Models

<div style="max-width: 50%" class="m-4">
    <RestartVmCsro OperationTypeTicket="@OperatioType.Create">

    </RestartVmCsro>
</div>

@code {

}
