@page "/ado/ProjectCreate"
@using CSRO.Client.Services.Models

<div style="max-width: 50%" class="m-4">
    <AdoProject OperationTypeTicket="@OperatioType.Create">

    </AdoProject>
</div>

@code {

}

