@page "/ticketview/{TicketId}"
@using CSRO.Client.Services.Models

<div style="max-width: 50%" class="m-4">
    <TicketCsro OperationTypeTicket="@OperatioType.View" TicketId="@TicketId">

    </TicketCsro>
</div>
@code {
    [Parameter]
    public string TicketId { get; set; }
}
