@page "/vm/restart/view/{TicketId}"
@using CSRO.Client.Services.Models

<RestartVmCsro 
               TicketId="@TicketId"
               OperationTypeTicket="@OperatioType.View"
               >
</RestartVmCsro>

<div class="m-4">
    <VmTicketHistoryComp RequestId="@TicketId"
                       OperationTypeTicket="@OperatioType.View">
    </VmTicketHistoryComp>
</div>

@code {
    [Parameter]
    public string TicketId { get; set; }
}
