@page "/vm/restart/edit/{TicketId}"
@using CSRO.Client.Services.Models

<RestartVmCsro TicketId="@TicketId"
               OperationTypeTicket="@OperatioType.Edit">
</RestartVmCsro>

<div class="m-4">
    <VmTicketHistoryComp RequestId="@TicketId"
                         OperationTypeTicket="@OperatioType.Edit">
    </VmTicketHistoryComp>
</div>

@code {
    [Parameter]
    public string TicketId { get; set; }
}
